*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #42F488;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 20px 0;
}

/* ##### form Start ##### */
form{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    padding: 30px 40px 20px;
    max-width: 450px;
    margin: 0 auto;
}
form h3{
    color: #0f9d58;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 24px;
    letter-spacing: 3PX;
}
form input{
    margin-bottom: 18px;
    padding: 18px 16px;
    background-color: #edf1f5;
    color: #293845;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder{
    color: #818b86;
    opacity: 1; /* for firefox */
}
::-ms-input-placeholder{ /* for MS EDGE */
    color: #818b86; 
}
input[type=submit]{
    margin-bottom: 0;
    background-color: #0f9d58;
    color: #FFFFFF;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.12);
    font-weight: 500;
    cursor: pointer;
}
input[type=text]:focus{
    box-shadow: 0 0 0 2px #0f9d58;
}
/* ##### form End ##### */


/* ##### Bookmark Start ##### */
#bookmarks{
    background-color: #224254;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px;
}
.bookmark{
    background-color: #182E3A;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-radius: 3px;
}
.bookmark p{
    flex: 4;
    line-height: 1.5;
}
.bookmark a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: #9CC1D6;
}
.bookmark span{
    padding: 5px 10px;
    background-color: #0F9D58;
    color: wheat;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 1px;
}
/* ##### Bookmark End ##### */


@media screen and (max-width: 700px) {
    body{
        font-size: 20px;
    }
    form{
        max-width: 300px;
        padding: 25px 25px;
    }
    form input{
        font-size: 18px;
    }
}
